body {
    margin: 0;
    padding: 0;
    background-color: #aa8a6c;
    font-family: 'Macondo', cursive;
    /* color: #371f35; */

}

/* * {
    color: black !important;
} */

button {
    background-color: rgb(35, 145, 235);
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    color: aliceblue;
}

a {
    text-decoration: none;
    color: #371f35;
    font-weight: bold;
    font-size: larger;
}

.container {
    display: flex;
    flex-direction: column;
}

/* nav bar */
.emp {
    padding-left: 260px;
}

.logo {
    padding-top: 10px;
    width: 80px;
    height: 80px;

}

ul {
    display: flex;
    list-style: none;
    gap: 60px;
    padding-right: 240px;

}

.nav {
    background-color: #fefae0;
    color: #371f35;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;


}

/* Header  */
.headerImg {
    width: 400px;
    height: 300px;
    border-radius: 15%;
    border: 3px solid #371f35;
}

.left {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left p {
    text-align: center;
    width: 300px;
    font-size: larger;
}


h1 {
    font-size: 50px;
    margin: 0;
    text-align: center;
    /* margin-bottom: 5px; */
}

.header {
    background-color: #fefae0;
    /* background-color: #1f2937; */
    color: #371f35;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

/* Content */
.bike {
    width: 160px;
    height: 125px;
    border-radius: 15%;

}

.imgOne {
    display: flex;
    gap: 45px;
}

.one {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.content h2 {
    font-size: xx-large;
}

.one p {
    font-size: large;
    text-align: center;
    width: 200px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #371f35;
    background-color: #d6ce93;

    width: 970px;
    border-radius: 50px;
    margin-left: 485px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
}

/* Quote  */
.quote {
    background-color: #fefae0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 25px;
}

.quoteOne {
    width: 700px;
    font-size: 35px;
    margin-bottom: 0;
    font-style: italic;
    font-weight: normal;
}

.quoteTwo {
    padding-left: 800px;
    font-weight: bold;
    font-size: larger;
}

/* signup  */

.signUp {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: #d6ce93;
    font-size: large;
    border-radius: 10px;

    margin-top: 40px;
    margin-right: 500px;
    margin-left: 550px;
    margin-bottom: 40px;





}

.signUpText {
    color: #371f35;

}

/* footer  */
.footer {
    color: #371f35;
    /* background-color: #947e7e; */
    background-color: #fefae0;
    text-align: center;
    padding: 40px;
}